:root {
  --color-base: #002b36;
  --color-surface: #073642;
  --color-overlay: #586e75;
  --color-muted: #657b83;
  --color-text: #839496;
  --color-love: #dc322f;
  --color-gold: #b58900;
  --color-pine: #2aa198;
  --color-foam: #268bd2;
  --color-iris: #6c71c4;
  --color-online: #859900;
  --color-idle: #b58900;
  --color-dnd: #dc322f;
}
